html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.instructor-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  padding-bottom: 4rem;
  margin: 0 auto;
  background-color: #e4deff44;
  margin-top: 4rem;
  max-width: 100%;
}

.instructor-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.3em;
}
.instructor-span {
  color: rgb(235, 158, 170);
  font-weight: 500;
  font-size: 14px;
  width: 150px;
  height: 30px;
  background-color: rgba(236, 163, 186, 0.212);
  border-radius: 50px;
  margin-top: 6rem;
}
.instructor-head {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}
.instructor-para {
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 1.5px;
  width: 900px;
  text-align: center;
  color: gray;
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}
.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 1em;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 4em 0;
  width: 1000px ;
}

.instructor-card {
  position: relative;
  overflow: hidden;
  border: none;
}
.instructor-card img {
  display: flex;
  flex-direction: row;
  gap: 4em;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.instructor-card img:hover {
  transform: scale(1.1);
  filter: brightness(0.7);
  background: linear-gradient(
    to top,
    rgba(0, 0, 255, 0.925),
    rgba(255, 255, 255, 0.37)
  );
}

.instructor-card-items {
  position: absolute;
  bottom: 10%;
  left: -100%;
  z-index: 2;
  text-align: center;
  opacity: 0;
  transition:
    opacity 0.5s ease-in-out,
    transform 0.5s ease-in-out;
}
.instructor-card:hover .instructor-card-items {
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}

.instructor-card-icons {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  color: white;
  font-size: 18px;
}

.instructor-card-content h1,
.instructor-card-content p {
  color: white;
  margin: 0.3em 0;
}

.instructor-card-content {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  animation: slideIn 0.5s ease-in-out;
}

/* mediaQuery */
